/* Start */
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
/* Couleurs */
--primary: #9356DC;
--secondary: #FF79DA;
--tertiary: #99E2D0;
--background-principal: #f6f6f6;
--background-localisation: #EAEAEA;
--background-color-new-resto: #99E2D0;
--background-description-menu: #fff;
--background-card-resto: #fff;
--fa-check: #fff;
--border-title-menu: #99E2D0;
--check-menu: #99E2D0;
--text-bouton: #fff;
--text-new-resto: #008766;
--footer: #353535;
--title-link-footer: #fff;
--color-ancre: #000;
}

body {
  font-family: Roboto;
}

img {
  width: 375px;
  height: 275px;
}

a {
  color: var(--color-ancre);
  text-decoration: none;
}

/***** Animations *****/
/* Animations boutons */
.bouton_explorer:hover, .bouton_commander:hover {
  background: linear-gradient(180deg, #FF79DA 20.44%, #9356DC 123.93%);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 10px;
}

/* Animations boutons coeurs */
.fa-heart {
  position: absolute;
  right: 1em;
}

.fa_heart_hover {
  color: transparent;
}

.fa_heart_hover:hover::before {
  background: linear-gradient(180deg, #FF79DA 20.44%, #9356DC 123.93%);
  background-clip: text;
  animation: hearth_button 0.6s ease;
}

@keyframes hearth_button {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Animations apparitions menu */
/* .title_h2_menu, .border_bottom_title {
  opacity: 0;
  transform: translateX(-500px);
  animation: menu_apparition 0.6s ease forwards;
}

.apparition_animation > article {
  opacity: 0;
  transform: translateX(-500px);
}

.apparition_animation > article:nth-child(3) {
  animation: menu_apparition 0.8s 0.2s ease-in forwards;
}

.apparition_animation > article:nth-child(4) {
  animation: menu_apparition 0.8s 0.4s ease-in forwards;
}

.apparition_animation > article:nth-child(5) {
  animation: menu_apparition 0.8s 0.6s ease-in forwards;
}

.apparition_animation > article:nth-child(6) {
  animation: menu_apparition 0.8s 0.8s ease-in forwards;
}

@keyframes menu_apparition {
  80% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    transform: none;
  }
} */

/* Animations Loader */
.container_loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg, #FF79DA 20.44%, #9356DC 123.93%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  animation: Disparition 3s ease forwards; 
  z-index: 99;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

.p_loader {
  margin-top: 0.5em;
  color: #fff;
  font-weight: bold;
}

.logo_name_loader {
  font-size: 2em;
  font-family: Shrikhand;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes Disparition {
  0% {
    opacity: 1;
    z-index: 99;
  }

  95% {
    opacity: 1;
    z-index: 99;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

/* Animations ajout de plats */
.box_content_menu {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

/* .box_content_menu:hover {
   width: 100%;
} */

.check_menu {
  position: absolute;
  top: 0;
  right: 0; 
  height: 100%;
  background-color: var(--check-menu);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check_menu i {
  color: var(--fa-check);
}

.info_prix_repas .info_text_menu {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 1em;
}

.box_content_menu:hover .check_menu {
  animation: Check 0.4s ease forwards;
}

.box_content_menu:hover .info_prix_repas {
  animation: info_prix_repas 0.4s ease forwards;
}

@keyframes Check {
  0% {
    width: 0%;
  }

  100% {
    opacity: 1;
    width: 20%;
  }
}

@keyframes info_prix_repas {
  0% {
    width: 100%;
  }

  100% {
    width: 80%;
  }
}

/***** Modifications homepage *****/
/* header */
.logo_name {
  font-family: Shrikhand;
  font-size: 1.8em;
  display: flex;
  justify-content: center;
  padding: 10px 0px 4px 0px;
}

.localisation_header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-localisation);
  padding: 12px;
  box-shadow: inset rgba(0, 0, 0, 0.12) 0px 2px 3px;
}

.p_header {
  font-family: Roboto;
  padding-left: 15px;
}

/* Presentation accueil */
.presentation_home {
  background-color: var(--background-principal);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 20px 50px 20px;
}

.presentation_home > h1 {
  margin-bottom: 10px;
}

.presentation_home > p {
  font-size: 18px;
}

.bouton_explorer {
  margin-top: 30px;
  font-size: 1em;
  color: var(--text-bouton);
  padding: 1em 1.4em 1em 1.4em;
  border-radius: 30px;
  border: none;
  background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: rgba(0, 0, 0, 0.22) 0px 4px 5px;
  cursor: pointer;
}

/* Partie fonctionnement */
.fonctionnement {
  margin: 3em 0em 3em 0em;
  padding: 0em 1.2em 0em 1.2em;
}

.fonctionnement > h2 {
  margin-bottom: 1.2em;
}

.container_regles_fonctionnement {
  padding-left: 0.5em;
}

.regles_fontionnement {
  display: flex;
  margin-bottom: 2em;
  padding: 2em 0em 2em 2em;
  border-radius: 20px;
  background-color: var(--background-principal);
  box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 8px;
}

.fa_fonctionnement_margin {
  margin-right: 1.5em;
}

.fa-store {
  color: var(--primary);
}

.chiffre_fontionnement {
  background-color: var(--primary);
  color: #fff;
  padding: 0.3em 0.6em 0.3em 0.6em;
  position: absolute;
  margin-left: -3.2em;
  border-radius: 20px;
  font-size: 14px;
}

/*** Restaurants homepage ***/
.restaurants {
  background-color: var(--background-principal);
  padding: 3em 1.2em 3em 1.2em;
  display: flex;
  flex-direction: column;
}

.restaurants > a {
  text-decoration: none;
  color: #000;
}

.title_restaurants_homepage {
  margin-bottom: 1em;
}

.new_restaurant {
  display: flex;
  justify-content: flex-end;
}

.info_new_restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 15px 15px 0px 0px;
  color: var(--text-new-resto);
  background-color: var(--background-color-new-resto);
  border-radius: 2px;
  width: 80px;
  height: 25px;
  font-size: 14px;
}

/* Articles restaurants*/
.article_restaurant_homepage {
  background-color: var(--background-card-resto);
  border-radius: 15px;
  margin-bottom: 1.2em;
}

.article_restaurant_homepage img {
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 200px;
}

/* Contenus articles restaurants */
.content_restaurant_card {
  padding: 0.6em 0em 1em 0.8em;
  display: flex;
  justify-content: space-between;
}

.h3_content_card {
  margin-bottom: 0.2em;
}

/* Boutons coeurs cartes restaurants */
.fa_heart_card {
  position: relative;
  padding: 0.7em 2em 0em 0em;
}

.button_fa_hearth {
  padding: 0.3em 0em 0.3em 0em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/***** Modifications page restaurant *****/
/* Header */
.box_logo_header {
  position: relative;
}

.logo_name_restaurants {
  text-align: center;
  font-family: Shrikhand;
  font-size: 1.8em;
  padding: 10px 0px 4px 0px;
}

.bouton_retour {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.img_header img {
  width: 100%;
  object-fit: cover;
}

/* Paramètres généraux des menus des restaurants */
.info_restaurant {
  background-color: var(--background-principal);
  padding-top: 30px;
  border-radius: 40px 40px 0px 0px;
  margin-top: -3.5em;
  position: relative;
  z-index: 1;
  padding: 2em 1.2em 2em 1.2em;
}

/* Paramètres du titre et du coeur */
.name_heart_restaurant {
  display: flex;
  justify-content: space-between;
}

.title_page_restaurant {
  font-size: 28px;
  font-family: Shrikhand;
}

/* Paramètres du contenus des menus */
.title_h2_menu {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 0.3em;
  margin-top: 2em;
}

.border_bottom_title {
  border: 2px solid var(--border-title-menu);
  width: 40px;
}

.box_content_menu {
  margin: 1em 0em 1em 0em;
  padding: 1em;
  border-radius: 20px;
  background-color: var(--background-description-menu);
  box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 8px;
}

.box_content_menu > h3 {
  font-size: 18px;
}

.info_prix_repas > p {
  font-size: 15px;
}

.info_prix_repas {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3em;
}

.price_menu {
  font-weight: bold;
}

.bouton_commander {
  margin-top: 30px;
  font-size: 1em;
  color: var(--text-bouton);
  padding: 1em 3em 1em 3em;
  border-radius: 30px;
  border: none;
  background: linear-gradient(180deg, #FF79DA -11.44%, #9356DC 123.93%);
  box-shadow: rgba(0, 0, 0, 0.22) 0px 4px 5px;
  cursor: pointer;
}

.center_bouton_commander {
  text-align: center;
}

/*** Footer ***/
.footer {
  background-color: var(--footer);
  padding: 1em;
}

.title_footer {
  color: var(--title-link-footer);
  font-family: Shrikhand;
  font-size: 18px;
  margin-bottom: 0.6em;
}

.container_links_footer {
  display: flex;
  flex-direction: column;
}

.link_footer {
  text-decoration: none;
  color: var(--title-link-footer);
  margin-bottom: 0.4em;
}

.link_footer i {
  margin-right: 1em;
}

/***** Responsive Desktop *****/
@media (min-width: 1245px) {
  /*** Homepage ***/
  /* body {
    max-width: 1920px;
    margin: auto;
  } */
  
  /* Presentation */
  .presentation_home > h1 {
    font-size: 2.5em;
  }
  
  .presentation_home > p {
    margin-top: 1em;
  }

  /* Fonctionnement */
  .fonctionnement {
    padding: 0em 11em 0em 11em;
  }

  .container_regles_fonctionnement {
    display: flex;
    justify-content: space-around;
  }

  .regles_fontionnement {
    width: 30%;
    /* padding: 2em 0em 2em 2em; */
  }

  /* .fa_fonctionnement_margin {
    margin-right: 1.5em;
  } */

  /* Restaurants */
  .restaurants {
    padding: 2em 11em 0em 11em;
  }

  .responsive_restaurants_homepage { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .responsive_restaurants_homepage > a {
    width: 45%;
  }

  .article_restaurant_homepage {
    margin-bottom: 3.2em;
  }

  /* Footer */
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding: 3em 5em 1.2em 0em;
  }

  .container_links_footer {
    display: flex;
    flex-direction: row;
  }

  .link_footer {
    padding-right: 0.8em;
  }

  .link_footer_partenaire {
    padding-right: 3em;
  }

  .link_footer_contact {
    padding-right: 6em;
  }

  /*** Pages Restaurants ***/
  .info_restaurant {
    max-width: 70%;
    margin: -3.5em auto 0em auto;
    padding: 3em 10em 2.5em 10em;
  }

  .name_heart_restaurant {
    justify-content: center;
    margin-bottom: 4em;
  }

  .title_page_restaurant {
    padding-right: 1em;
  }

  .title_h2_menu {
    margin-top: 3em;
  }
}

/***** Responsive Tablet *****/
@media (min-width: 768px) and (max-width:1244px) {
  /*** Homepage ***/
  /* Fonctionnement */
  .fonctionnement {
    margin: 2em 0em 1em 0em;
  }

  .title_fonctionnement {
    padding: 0em 1em 0em 0.5em;
  }

  .container_regles_fonctionnement {
    display: flex;
    justify-content: space-around;
    padding: 0em 1em 0em 1em;
  }

  .regles_fontionnement {
    justify-content: center;
    width: 30%;
    padding: 2em 0em 2em 0em;
  }

  .fa_fonctionnement_margin {
    margin-right: 0.5em;
  }

  .chiffre_fontionnement {
    margin: -3.2em 0em 0em 0em;
  }

  /* Restaurants */
  .restaurants {
    padding: 1.5em 1.2em 3em 1.2em;
  }

  .responsive_restaurants_homepage {
    padding: 1em 3em 0em 3em;
  }

  .title_restaurants_homepage {
    padding: 0em 1em 0em 0.5em;
  }

  .article_restaurant_homepage {
    margin-bottom: 3em;
  }

  /* Footer */
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 3em 2em 0em 0em;
  }

  .container_links_footer {
    display: flex;
    flex-direction: row;
  }

  .link_footer {
    padding-right: 0.8em;
  }

  .link_footer_partenaire {
    padding-right: 1.8em;
  }

  .link_footer_contact {
    padding-right: 3em;
  }

  /*** Pages Restaurants ***/
  .info_restaurant {
    max-width: 75%;
    margin: -3.5em auto 0em auto;
    padding: 3em 5em 2.5em 5em;
  }

  .name_heart_restaurant {
    justify-content: center;
    margin-bottom: 3em;
  }

  .title_page_restaurant {
    padding-right: 1em;
  }

  .title_h2_menu {
    margin-top: 3em;
  }
}